{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
        <title>Page de Connexion </title>
    </head>
    <body>
      <main>
        <section class="identite">
         <img src="{% static 'images/logo.png' %}" alt="logo"> 
         <p>Système de gestion des rapports QRQC</p>
        </section>
        <section class="connexion">
         <h2> Connexion </h2>
         <form method="post">
           {% csrf_token %}
           <p>
            <label for="id_username">Nom de l'utilisateur:</label>
            <input type="text" name="username" id="id_username">
           </p>
           <p>
            <div class="password">
               <label for="id_password">Mot de passe:</label>
               <input type="password" name="password"  id="id_password">
              </p>
              <button type="button" id="togglePassword">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
           <button type="submit"> Se connecter </button>


         </form>
        </section>
       
      </main>
    </body>
</html>