

body{
    background-color:#F8FAFC;
    font-family: Arial,sans-serif;
    margin: 0;
    display:flex;
    justify-content:center; /*centrer horizontalement*/
    align-items:center; /*centrer verticalement*/
    min-height: 100vh;
}

main{
    background-color: white;
    width:420px;
    border-radius: 12px; /*les angles arrondis*/
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    padding: 20px;
    text-align:center;/*centrer le texte*/

}
.identite{
    align-items:center;
    text-align:center;
    margin-bottom:40px;
    display:flex;

}
.identite img{
    width: 70px;
    height: 70px;
    margin: bottom 4px;/*espace sous le logo*/
}
.identite p{

    display:flex;
    flex-direction:column;
    color:#6B7280;
    max-width:320px;
    margin:6px 0;
    font-size:17px;
    
}
.connexion h2{/*connexion*/

    text-align:left;

    color:#1F2937;

    margin-bottom:30px;

}
.connexion form p{

    text-align:left;

    margin-bottom:20px;

}

input{
    width:100%;
    padding: 14px;
    font-size:16px;
    border:1px solid #E5E7EB;
    border-radius:10px;
    box-sizing:border-box;

}
/* a l'interieur d'un champ*/
input:focus{
    outline:none;
    border-color:#0B96B7;
}

button{
    width:100%;
    padding: 15px;
    margin-top:10px;
    border:none;
    background-color:#074784;
    border-radius:10px;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;

}
button:hover{
    background-color:#052F57;
}
.password{
    display:flex; /*placer le contenue en meme ligne*/
    align-items:center;
    position:relative;
}
p input{
    padding-right: 45px;
    width:100%;
}


